@media (max-width: 990px) {
    /*Header*/
    #ul {
        padding-left: 0px;
    }
    .header-btns {
        flex-direction: column;
        height: 160px;
        justify-content: space-between;
    }
    /*First Section*/
    .firstSection-wrapper {
        flex-direction: column;
        height: 800px;
        justify-content: space-around;
        align-items: center;
    }
    /*Second Section*/
    .reviews-wrapper {
        flex-direction: column;
        height: 900px;
        justify-content: space-between;
    }
    /*Fifth Section*/
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .firstGroup {
        margin-top: 20px;
        flex-direction: column;
        height: 140px;
        justify-content: space-between;
    }
    .secondGroup {
        flex-direction: column;
        height: 130px;
        justify-content: space-between;
    }
    .message {
        width: 55%;
    }
    /*Sixth Section*/
    .sixthSection-wrapper {
        flex-direction: column;
        height: 160px;
        justify-content: space-between;
    }
    .sixthHeading {
        text-align: center;
    }
    .sixthText {
        text-align: center;
    }
    /*Footer*/
    .firstUl {
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: space-between;
        align-items: center;
    }
    .footerUl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    /*Third Section*/
    .thirdSection-wrapper {
        flex-direction: column;
        height: 1500px;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1400px) {
    /*Fourth Section*/
    .prices-wrapper {
        flex-direction: column;
        height: 2300px;
        justify-content: space-between;
        align-items: center;
    }
    /*Fifth Section*/
    .firstGroup {
        width: 55%;
    }
    .secondGroup {
        width: 55%;
    }
    .message {
        width: 55%;
    }
}