/*NAVBAR*/

.header {
    padding-top: 30px;
}

#header-links {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: #1F1F1F;
}

#header-links:hover {
    transition-duration: .4s;
    color: royalblue;
}

#header-btn {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -1px;
    color: #258AFF;
    width: 137px;
    height: 40px;
    background-color: inherit;
    border-width: 2px;
    border-color: #258AFF;
}

#header-btn:hover {
    transition-duration: .4s;
    background-color: #258AFF;
    color: #fff;
}

#ul {
    padding-left: 60px;
}


/*----------------------
-------MAIN------------
-------------------*/

.first {
    padding-top: 170px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstSection-firstWrapper {
    max-width: 614px;
    display: flex;
    flex-direction: column;
}

.first-title {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #666666;
}

.first-heading {
    font-size: 70px;
    line-height: 70px;
    /* or 100% */
    text-align: center;
    letter-spacing: -4px;
    color: #1F1F1F;
}

.firstSection-secondWrapper {
    width: 530px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.heading-input {
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.9px;
    color: #878B90;
    padding: 19px 74px 20px 24px;
    border-radius: 5px;
}

.firstSection-btn {
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.9px;
    color: #FFFFFF;
    background-color: #FC593B;
    padding: 20px 60px;
    border-radius: 5px;
}

.firstSection-btn:hover {
    transition-duration: .4s;
    background-color: #cc371d;
}

.firstSection-p {
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.32381px;
    color: #878B90;
    margin-top: 25px;
    margin-bottom: 150px;
}

.firstSection-blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.block {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.block-wrapper {
    display: flex;
}

.blockHeading {
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 152% */
    letter-spacing: -1px;
    color: #000000;
    padding-left: 10px;
}

.blockText {
    font-size: 17px;
    line-height: 28px;
    /* or 165% */
    color: #666666;
    padding-left: 0px;
}


/*-----------------
------SECOND----------
--------------*/

.second {
    background-color: #258AFF;
    padding-top: 130px;
    padding-bottom: 120px;
}

.secondSection-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondSection-content {
    padding-bottom: 100px;
}

.secondSection-title {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.secondSection-heading {
    max-width: 490px;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    letter-spacing: -2.52632px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.secondSection-text {
    max-width: 490px;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #E4E4E4;
    margin-bottom: 50px;
}

.secondSection-btn {
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.9px;
    background-color: #fff;
    color: #258AFF;
    padding: 20px 60px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
}

.secondSection-btn:hover {
    transition-duration: .4s;
    background-color: #258AFF;
    color: #fff;
    border-color: #fff;
}


/*----------------------
-------THIRD------------
-----------------------*/

.third {
    padding-top: 150px;
}

.thirdSection-wrapper {
    display: flex;
    justify-content: space-between;
}

.thirdSection-firstContainer {
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thirdSection-title {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258AFF;
}

.thirdSection-heading {
    max-width: 490px;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}

.thirdSection-text {
    max-width: 488px;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #666666;
}

.thirdSection-secondContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pencil-circle {
    padding-bottom: 15px;
}

.secondContent-title {
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 152% */
    letter-spacing: -1px;
    color: #000000;
}

.secondContent-text {
    max-width: 240px;
    font-size: 17px;
    line-height: 28px;
    /* or 165% */
    color: #666666;
}

.line-div {
    display: flex;
    justify-content: center;
}

.line {
    padding-top: 150px;
    padding-bottom: 150px;
}


/*-----------------------------
----------FOURTH--------------
------------------------------*/

.fourth {
    padding-bottom: 130px;
}

.fourthSection-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.fourthSection-title {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258AFF;
}

.fourthSection-heading {
    max-width: 349px;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}

.fourthSection-text {
    max-width: 315px;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #666666;
}

.fourthSection-secondContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.secondContainer-left {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review {
    background-color: #fff;
    padding: 30px 35px;
    border-radius: 5px;
}

.review-text {
    max-width: 274px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    letter-spacing: -0.1px;
    color: #1F1F1F;
}

.inner-review {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inner-content {
    padding-top: 20px;
}

.name {
    font-size: 17px;
    line-height: 1;
    /* identical to box height, or 165% */
    letter-spacing: -0.31875px;
    color: #1F1F1F;
}

.job {
    font-size: 15px;
    line-height: 1;
    /* identical to box height, or 187% */
    letter-spacing: -0.4px;
    color: #666666;
}

.secondContainer-right {
    padding-top: 100px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#leo {
    padding-right: 100px;
}

#harvey {
    padding-right: 70px;
}

#cam {
    padding-right: 50px;
}

.clients-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clientsGroup {
    display: flex;
    justify-content: space-between;
}


/*-----------------------------
----------FIFTH----------------
-----------------------------*/

.fifth {
    background-size: cover;
    background-image: url(../img/backgroundShades.png);
    padding-top: 135px;
    padding-bottom: 180px;
}

.fifthSection-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifthSection-title {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fifthSection-heading {
    padding-top: 40px;
    padding-bottom: 90px;
    max-width: 600px;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    text-align: center;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
}

.fifthSection-wrapper {
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.firstPackage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #2B405A;
    padding: 30px 90px 30px 45px;
    border-radius: 6px;
}

.firstPackage-title {
    font-size: 13px;
    line-height: 32px;
    /* identical to box height, or 246% */
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #E5E5E5;
}

.packagePrice {
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: -0.68px;
    color: #FFFFFF;
}

.dollar {
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

.price {
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    letter-spacing: -2px;
    color: #FFFFFF;
}

.package-text {
    max-width: 214px;
    font-size: 14px;
    line-height: 23px;
    /* or 164% */
    letter-spacing: -0.4px;
    color: #E5E5E5;
}

.confirmed-white {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 32px;
    /* identical to box height, or 188% */
    letter-spacing: -0.425px;
    color: #FFFFFF;
}

.not-confirmed {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 32px;
    /* identical to box height, or 188% */
    letter-spacing: -0.425px;
    color: #878B90;
}

.span-line {
    text-decoration: line-through;
}

.firstP-btn {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -1.06px;
    color: #FFFFFF;
    background-color: #258AFF;
    padding: 15px 30px;
    border-radius: 5px;
    border-color: #258AFF;
    border-style: solid;
    border-width: 2px;
}

.firstP-btn:hover {
    transition-duration: .4s;
    background-color: inherit;
    color: #258AFF;
}

.sub-btn {
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    letter-spacing: -0.4px;
    color: #878B90;
}

.secondPackage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffff;
    padding: 30px 90px 30px 45px;
    border-radius: 6px;
}

.secondPackage-title {
    font-size: 13px;
    line-height: 32px;
    /* identical to box height, or 246% */
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #666666;
}

#price {
    color: #1F1F1F;
}

#grey {
    color: #666666;
}

#confirmed-black {
    font-size: 17px;
    line-height: 32px;
    /* identical to box height, or 188% */
    letter-spacing: -0.425px;
    color: #1F1F1F;
}

#free-btn {
    background-color: #FC593B;
    border-color: #FC593B;
}

#free-btn:hover {
    background-color: inherit;
    color: #FC593B;
}


/*------------------------------
--------------FOOTER------------
------------------------------*/

.footer {
    padding-top: 160px;
    padding-bottom: 130px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    padding-top: 30px;
    max-width: 300px;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    letter-spacing: -0.4px;
    color: #666666;
}

.social {
    padding-top: 30px;
    display: flex;
    width: 120px;
    justify-content: space-around;
}

.rightPart {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.help {
    display: flex;
    flex-direction: column;
}

.rightPart-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.4px;
    color: #666666;
}

.rightPartLinks {
    font-size: 15px;
    line-height: 40px;
    /* or 267% */
    letter-spacing: -0.4px;
    color: #1F1F1F;
}

.support {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
}